lxc.tty = 4
lxc.pts = 1024

lxc.cgroup.devices.allow = a

lxc.utsname = major

lxc.rootfs = overlayfs:/volumes/website.squashfs:/storage/website.disk.1/upper

lxc.mount.auto = proc sys cgroup-full
lxc.mount.entry = /dev dev none bind,rw,create=dir 0 0
lxc.mount.entry = /storage pvstorage none bind,rw,create=dir 0 0
lxc.mount.entry=tmpfs run tmpfs rw,nodev,relatime,mode=755 0 0
lxc.environment = force_noncontainer=1

